<include file="Common/header"/>
<div>

	<include file="Common/topbar"/>


	<div id="wrapper">
		<!--BEGIN SIDEBAR MENU-->
		<include file="Common/sidebar"/>
		<!--END SIDEBAR MENU-->
          
        <!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper">

			<!--BEGIN TITLE & BREADCRUMB PAGE-->

			<div class="page-title-breadcrumb option-demo">
				<div class="page-header pull-right">
					<div class="page-toolbar">

						<!--<a type="button" href="{:U('User/index',array('user_type'=>1))}" title="" class="btn btn-success" >
							会员管理
						</a>
						<a type="button" href="{:U('User/index',array('user_type'=>0))}" title="" class="btn btn-success" >
							管理员管理
						</a>-->
					</div>
				</div>
				<ol class="breadcrumb page-breadcrumb pull-left">					
					<li>
						<a href="{:U('Admin/Project/index')}">案例管理</a>/
					</li>
					<li>列表 </li>
				</ol>
				<div class="clearfix">
				</div>
			</div>

			<!--END TITLE & BREADCRUMB PAGE-->


            <!--BEGIN CONTENT-->
            <div class="page-content">
         		<div id="tab-general">
					<div class="row">
						<div class="col-lg-12">
							<div class="portlet box">
								<div class="panel-heading">

									<div class="row">
										<div class="col-xs-5">
											<form class="navbar-form " action="{:U('Admin/Project/search')}" method="post" role="search" >
												<div class="input-group">
													<div class="input-group-btn">
														<select class="form-control btn" name="name">
															<option value="name">案例名称</option>
															<option value="info">简要说明</option>

														</select>
													</div>
													<input type="text" name="search" class="form-control" placeholder="Search for you!">
													<div class="input-group-btn">
														<button type="submit" class="btn btn-green"><i class="fa fa-search"></i></button>
													</div>
												</div>
											</form>
										</div>
										<div class="col-xs-7">
											<div class="navbar-form text-right">
												<a href="{:U('Admin/Project/add')}" type="button" title="新增案例" class="btn btn-success" >
													<i class="fa fa-plus-square"></i> 新增案例
												</a>
											</div>
										</div>
									</div>
								
								</div>
								<div class="portlet-body">
									<table class="table table-hover table-striped user-table">
										<colgroup>
											<col/>
											<col/>
					                        <col width="200"/>
					                    </colgroup>
										<thead>
											<tr>
												<th>#</th>
												<th>案例名称</th>
												<th>简要说明</th>
												<th>是否显示</th>
												<th>排序</th>
												<th>创建时间</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
											
											<volist name="list" id="vo" >
												<tr>
													<td attr="{$vo['id']}">{$key+1}</td>
													<td>{$vo['name']}</td>
													<td>
														<div class="content-hidden" title="{$vo['info']}">
															{$vo['info']}
														</div>
													</td>
													<td>
														{:$vo['status'] == 1 ? '显示':'不显示'}
													</td>
													<td>
														<input type="text"  class=" table-input-order tag-order" attr="{$vo['id']}" value="{$vo['sort']}">
													</td>
													<td>
														{:date('Y-m-d H:i:s',$vo['create_time'])}
													</td>
													<td id="user-fa">
														<a class="btn btn-warning btn-xs" href="{:U('Admin/Project/edit',array('id'=>$vo['id']))}">
															<i class="fa fa-pencil-square-o" title="编辑"></i>
														</a> 
														<a class="btn btn-danger btn-xs">
															<i class="fa fa-trash-o item-delete" attr="{$vo['id']}" title="删除"></i>
														</a> 
													</td>
												</tr>
											</volist>
										</tbody>
									</table>
								</div>
								<div class="panel-heading">
									<div id="page">
										{$page}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	                	<!--END CONTENT-->


	                	<!--BEGIN FOOTER-->
			<include file="Common/footer"/>
	               	<!--END FOOTER-->
        </div>
        <!--END PAGE WRAPPER-->
	</div>
</div>

	
	<script>
		$(function(){
			$('#side-menu>li').removeClass('active');
			$('#admin-project').addClass('active');



			//排序修改
			$('.tag-order').blur(function(){
				var id		= $(this).attr('attr');
				var sort	= parseInt($(this).val());
				if(!(sort >= 0 && sort <= 10)){
					alert('排序值必须在0-10之间');
					$(this).focus();
					return;
				}
				//发送ajax请求
				$.ajax({
					type:'post',
					url:"{:U('Admin/Project/order')}",
					//data:'u_state='+id,
					data:{
						'id':id,
						'sort':sort,
					},
					dataType:"json",
					success:function(data){
						if(data.code){
							location.reload();return;
						}else{
							alert(data.mess);return;
						}
					},
				});
			});



			//删除
			$(".item-delete").click(function(){
				var rs		    = confirm('你确定删除该记录吗?');
				var id 	= $(this).attr('attr');
				//console.log(rs);
				if( false == rs)return;
				$.ajax({
					type:'post',
					url:'{:U("Admin/Project/delete")}',
					data:{
						'id':id,
					},
					dataType:"json",
					success:function(data){
						if(1 == data.code){
							alert(data.mess);location.reload();return;
						}else{
							alert(data.mess);return;
						}
					},
				});
			});
		});
	</script>

</body>
</html>
