<include file="User@Common/header"/>
</head>
<body>
	<include file="User@Common/nav"/>






	<div id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<include file="User@Common/sidebar"/>
				</div>
				<div class="col-md-9 about">

					<h3>
						<a class="btn btn-sm btn-default" href="{:U('User/Blog/add')}">新增博客</a>
					</h3>

				</div>
			</div>
		</div>
	</div>










	<include file="User@Common/footer"/>
	<script>
		
	</script>
</body>
</html>