<include file="Common/header"/>
<div>
	<include file="Common/topbar"/>


	<div id="wrapper">
		<include file="Common/sidebar"/>


		<!--BEGIN PAGE WRAPPER-->
		<div id="page-wrapper">

			<!--BEGIN TITLE & BREADCRUMB PAGE-->
			<div class="page-title-breadcrumb option-demo">
				<div class="page-header pull-right">
					<div class="page-toolbar">
						<button type="button" data-hover="tooltip" title="" class="btn btn-blue" data-original-title="Download">
							<i class="fa fa-download"></i>
						</button>
						&nbsp;
						<button type="button" data-hover="tooltip" title="" class="btn btn-yellow" data-original-title="Send Message">
							<i class="fa fa-envelope-o"></i>
						</button>

					</div>
				</div>
				<ol class="breadcrumb page-breadcrumb pull-left">
					<li>
						<i class="fa fa-home"></i>
						欢迎向导
					</li>
				</ol>
				<div class="clearfix">
				</div>
			</div>
			<!--END TITLE & BREADCRUMB PAGE-->


			<!--BEGIN CONTENT-->
			<div class="page-content">
				<div id="tab-general">


					<div class="row">
						<div class="col-lg-12">
							<div class="portlet box">
								<div class="portlet-header">
									<div class="caption">
										Scatter plot
									</div>
									<div class="tools">
										<i class="fa fa-chevron-up"></i>
										<i class="fa fa-refresh"></i>
										<i class="fa fa-times"></i>
									</div>
								</div>
								<div class="portlet-body">
									<div id="angular-gauge">
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
			<!--END CONTENT-->

			<include file="Common/footer"/>

		</div>
		<!--END PAGE WRAPPER-->
	</div>
</div>


<script>
	$('#side-menu>li').removeClass('active');
	$('#admin-index').addClass('active');

	$(document).ready(function(){




	});
</script>

</body>
</html>