<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="__PUBLIC__/img/ico_48.ico">
	<meta name="keywords" content="{$Think.config.KEY_WORD}" />
	<meta name="description" content="{$Think.config.DESCRIPTION}"/>
	<title><if condition="!empty($item['title'])">{$item['title']}|</if>{$Think.config.WEB_NAME}</title>

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">

	<!--[if lt IE 9]>
	<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/pluge/sweet-alert/sweetalert.css">