	<!--nav start-->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="{:U('Home/Index/index')}" class="navbar-brand logo"><b>AirBlog</b></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">&nbsp;</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div>
			<div class="collapse navbar-collapse" id="navbar">

				<ul class="nav navbar-nav navbar-right visible-xs">
					<li>
						<a href="{:U('User/Index/index')}">
							<span class="glyphicon glyphicon-home"></span>
							我的主页
						</a>
					</li>
					<li>
						<a href="{:U('User/Blog/index')}">
							<span class="glyphicon glyphicon-list-alt"></span>
							我的博客
						</a>
					</li>
					<li>
						<a href="{:U('User/Person/index')}">
							<span class="glyphicon glyphicon-user"></span>
							我的资料
						</a>
					</li>
					<if condition="$_SESSION['user']['user_type'] eq 0">
						<li>
							<a href="{:U('Admin/Index/index')}">
								<span class="glyphicon glyphicon-folder-open"></span>
								后台管理
							</a>
						</li>
					</if>
					<li class="dropdown" id="web-user">
						<a href="###" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-user"></span>
							会员
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<if condition="empty($_SESSION['user']['id'])">
								<li>
									<a href="{:U('Home/Login/index')}">
										登录
									</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="{:U('Home/Login/reg')}">
										注册
									</a>
								</li>
							<else/>
								<li>
									<a href="{:U('User/Index/index')}">
										用户中心
									</a>
								</li>
								<if condition="$_SESSION['user']['user_type'] eq 0">
									<li>
										<a href="{:U('Admin/Index/index')}">
											后台管理
										</a>
									</li>
								</if>
								<li class="divider"></li>
								<li>
									<a href="{:U('Home/Common/logout')}">
										退出登录
									</a>
								</li>
							</if>

						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--nav end-->

	<div class="jumbotron">
		<div class="container">
			<hgroup>
				<h1>那些年走过的坑</h1>
				<h4>Airblog是一款基于Bootstrap&Tp的免费博客系统...</h4>
				<h5>
					<a href="http://wpa.qq.com/msgrd?v=3&uin=980062449&site=qq&menu=yes" target="_blank" title="技术支持">
						阿尔维奇
						<span class="text-error" title="私人QQ">980062449</span>
					</a>
				</h5>
			</hgroup>
		</div>
	</div>

