body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}

.login-width img{
	max-width: 100px;
}
.form-signin,.login-width {
	max-width: 330px;
	padding: 0 15px 15px 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
