body{background:#F9F9F9 url(../img/bg.png);padding-top: 50px;font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;color: #666;}
blockquote{border-left: 5px solid #c90;}
#myCarousel .carousel-inner img{margin:0 auto;}
a{color: #666;}
a:hover{color: #c90;text-decoration: none;}
.nav-shadow{border-bottom: 1px solid #c90;}

.tab-h2,.tab-p{font-size: 30px;text-align: center;letter-spacing: 1px;color:#0059b2;}
.tab-p{font-size: 18px;color:#999;margin: 20px 0 40px 0;}
.tab1{margin:30px 0;color:#666;}
.tab1 .text-muted{color:#999;text-decoration: line-through;}
.tab1 .media-heading{margin:5px 0 20px 0;}
.tab1 .col{margin: 0 0 20px 0;}
.tab2 {background: #eee;padding: 60px 20px;text-align: center;}
.tab2 img {width: 40%;height: 40%;}
.tab3 {padding: 40px 0;text-align: center;}
.tab3 img {width: 65%;height: 65%;}
.text h3 {font-size: 20px;}
.text p {font-size: 14px;}


.jumbotron {
	letter-spacing: 1px;
	padding: 10px 0;
	text-align: center;
	background: #F9F9F9 url(../img/bg.png);
	color: #c90;
}
.jumbotron h1 {
	margin-top: 10px;
	font-size: 26px;
	text-align: center;
	color: #c90;
	text-shadow:1px 1px 2px #ccc;
}
.jumbotron h4 {
	font-size: 16px;
	text-shadow:1px 1px 2px #ccc;
}

#information {
	padding: 20px 0;
	background: #eee;
}
.list-title li{
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	border-bottom: 1px solid #eee;
	padding: 8px 0;
	line-height: 1.6;
	font-size: 16px;
}
.list-title li>b{display:inline-block;width: 25px;}
.info-right {
	background-color: #F9F9F9;
	box-shadow: 2px 2px 3px #ccc;
}
.info-right blockquote {padding: 0;margin: 0;}
.info-right h2 {font-size: 20px;padding: 5px;}
.info-right h4 {line-height: 1.6;}
.info-content {background-color: #F9F9F9;box-shadow: 2px 2px 3px #ccc;margin: 0 0 20px 0;}
.info-content img {margin: 12px 0;}
.info-content h4 {font-size: 14px;padding: 2px 0 0 0;}
.info-content p {line-height: 1.6;color: #666;}


#case {padding: 20px 0;text-align: center;background-color: #F9F9F9;}
#case h4 {color: #666;}
#case p {color: #666;line-height: 1.6;}

#about {
	padding: 20px 0;
	background: #eee;
}
#about .about {background-color: #fff;box-shadow: 2px 2px 3px #ccc;padding-bottom: 20px;}
#about h3 {margin: 0 0 10px 0;padding: 20px 0;border-bottom: 1px solid #ccc;font-size: 18px;}
#about p {line-height: 2;font-size: 13px;}



#footer{background-color: #F9F9F9;border-top: 1px solid #ccc;padding:20px;text-align: center;}
#footer p>a{margin: 0 5px;}









#article,#article-auther{
	padding: 20px;
	background-color: #F9F9F9;
	color: #666;
	margin-bottom: 1rem;;
}
#article p{
	font-size: 1.7rem;
	line-height: 2.5rem;
	letter-spacing: 0.1rem;
}
#article p.title{
	text-align: center;
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 500;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#article p.time{
	text-align: center;
}
#article article img{
	max-width: 100%;
	height: auto;
	margin: 0.2em auto;
	display:block;
}
#article-auther .auther-avatar,#article-auther .auther-info{
	display: inline-block;
	padding: 0 1rem;
}
#article-auther .auther-avatar>img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
#article-auther .auther-info>div{
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
.cloud-tags{margin-bottom: 1.5rem;}
.cloud-tags>a{
	border: 1px dashed #CC9900;
	padding: 2px 7px;
	color: #959595;
	line-height: 1.5em;
	display: inline-block;
	margin: 0 7px 7px 0;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.cloud-tags>a:hover{
	background-color:#CC9900;
	color: #FFFFFF;
}















/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
	.tab-h2 {
		font-size: 26px;
	}
	.tab-p {
		font-size: 16px;
	}
	.text h3 {
		font-size: 22px;
	}
	.text p {
		font-size: 15px;
	}
	.tab2-text {
		float: left;
	}
	.tab2-img {
		float: right;
	}
	.info-content h4 {
		font-size: 16px;
	}
	.jumbotron{
		padding:30px 0;
	}
	.jumbotron h1 {
		font-size: 40px;
	}
	.jumbotron h4 {
		font-size: 20px;
	}
	#about h3 {
		font-size: 19px;
	}
	#about p {
		font-size: 14px;
	}
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
	.tab-h2 {
		font-size: 28px;
	}
	.tab-p {
		font-size: 17px;
	}
	.text h3 {
		font-size: 24px;
	}
	.text p {
		font-size: 16px;
	}
	.tab2-text {
		float: left;
	}
	.tab2-img {
		float: right;
	}
	.info-content h4 {
		font-size: 18px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.info-right h4 {
		font-size: 14px;
	}
	.jumbotron{
		padding:40px 0;
	}
	.jumbotron h1 {
		font-size: 50px;
	}
	.jumbotron h4 {
		font-size: 25px;
	}
	#about h3 {
		font-size: 20px;
	}
	#about p {
		font-size: 15px;
	}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
	.tab-h2 {
		font-size: 30px;
	}
	.tab-p {
		font-size: 18px;
	}
	.text h2 {
		font-size: 26px;
	}
	.text p {
		font-size: 18px;
	}
	.tab2-text {
		float: left;
	}
	.tab2-img {
		float: right;
	}
	.info-content h4 {
		font-size: 20px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.info-right h4 {
		font-size: 16px;
	}
	.jumbotron{
		padding:50px 0;
	}
	.jumbotron h1 {
		font-size: 65px;
	}
	.jumbotron h4 {
		font-size: 30px;
	}
	#about h3 {
		font-size: 22px;
	}
	#about p {
		font-size: 16px;
	}
}	