<include file="Home@Common/header"/>
</head>
<body>
	<include file="Home@Common/nav"/>



	<div class="jumbotron">
		<div class="container">
			<hgroup>
				<h1>那些年走过的坑</h1>
				<h4>Airblog是一款基于Bootstrap&Tp的免费博客系统...</h4>
			</hgroup>
		</div>
	</div>


	<div id="information">
		<div class="container">
			<div class="row">
				<div class="col-md-8 info-left" style="background-color: #ccc;">
					<div >
						<article  class="post tag-laravel tag-laravel-5-1 tag-xin-ban-ben-fa-bu">
							<header class="post-head">
								<h1 class="post-title">{$item['b_title']}</h1>
								<section class="post-meta">
									<span class="col-xs-12 author">作者：<b>{$item['auther']}</b></span>
									<time class="col-xs-12 post-date" datetime="" title="">{:$vo['create_time'] == $vo['edit_time'] ? '发布:'.date('Y-m-d H:i:s',$vo['create_time']) : '修改:'.date('Y-m-d H:i:s',$vo['edit_time'])}</time>
								</section>
							</header>
							<br>
							<section class="post-content">
								<blockquote>
									<p>
										简要信息：{$item['blog_info']}
									</p>
								</blockquote>
								{$item['content']}
							</section>
							<footer class="post-footer clearfix">
								<div class="pull-left tag-list">
									<span class="glyphicon glyphicon-tags"></span>
									<volist name="taglist" id="vo">
										<a href="#">{$vo}</a>&nbsp;
									</volist>
								</div>
								<div class="col-xs-12 pull-right share">
									<div class="bdsharebuttonbox baidu-share">
										<a href="#" class="bds_more" data-cmd="more"></a>
										<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
										<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
										<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
										<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
									</div>
								</div>
							</footer>
						</article>
					</div>
				</div>
				<div class="col-md-4 info-right hidden-xs hidden-sm">
					<blockquote>
						<h2>热门BG</h2>
					</blockquote>
					<div class="container-fluid">
						<div class="row">
							<ul class="list-unstyled list-title">
								<li>
									<b>01</b>六家互联网公司发声明抵制流量劫持等违六家互联网公司发声明抵制流量劫持等违法行为法行
								</li>
								<li>
									<b>02</b>六家互联网公司发声明抵制流量劫持等违六家互联网公司发声明抵制流量劫持等违法行为法行
								</li>
								<li>
									<b>03</b>六家互联网公司发声明抵制流量劫持等违六家互联网公司发声明抵制流量劫持等违法行为法行
								</li>
								<li>
									<b>04</b>六家互联网公司发声明抵制流量劫持等违六家互联网公司发声明抵制流量劫持等违法行为法行
								</li>
								<li>
									<b>05</b>六家互联网公司发声明抵制流量劫持等违六家互联网公司发声明抵制流量劫持等违法行为法行
								</li>
								<li>
									<b>06</b>六家互联网公司发声明抵制流量劫持等违六家互联网公司发声明抵制流量劫持等违法行为法行
								</li>
								<li>
									<b>07</b>六家互联网公司发声明抵制流量劫持等违六家互联网公司发声明抵制流量劫持等违法行为法行
								</li>
								<li>
									<b>08</b>六家互联网公司发声明抵制流量劫持等违六家互联网公司发声明抵制流量劫持等违法行为法行
								</li>
							</ul>
						</div>
						

						<div class="row">
							<div class="col-md-5" style="margin:12px 0;padding:0;">
								<img src="__PUBLIC__/img/info3.jpg" class="img-responsive" alt="">
							</div>
							<div class="col-md-7 " style="padding-right:0">
								<h4>六家互联网公司发声明 抵制流量劫持等违法行为</h4>
								<p>admin 15 / 10 / 11</p>
							</div>
						</div>
					</div>
					<blockquote>
						<h2>云TAG</h2>
					</blockquote>
				</div>
			</div>
		</div>
	</div>










	<include file="Home@Common/footer"/>
	<script>
		window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"24"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren"],"viewText":"分享到：","viewSize":"32"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];


	</script>
</body>
</html>