<include file="Common/header"/>
<div>

	<include file="Common/topbar"/>


	<div id="wrapper">
		<!--BEGIN SIDEBAR MENU-->
		<include file="Common/sidebar"/>
		<!--END SIDEBAR MENU-->
          
        <!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper">

			<!--BEGIN TITLE & BREADCRUMB PAGE-->

			<div class="page-title-breadcrumb option-demo">
				<div class="page-header pull-right">
					<div class="page-toolbar">
						<a type="button" href="{:U('Admin/System/index')}" title="" class="btn btn-success" >
							基础配置
						</a>
						<a type="button" href="{:U('Admin/System/db')}" title="" class="btn btn-success" >
							数据库配置
						</a>
						<a type="button" href="{:U('Admin/System/email')}" title="" class="btn btn-success" >
							邮箱配置
						</a>
					</div>
				</div>
				<ol class="breadcrumb page-breadcrumb pull-left">					
					<li>
						<a href="{:U('Admin/System/index')}">系统管理</a>/
					</li>
					<li>邮箱配置 </li>
				</ol>
				<div class="clearfix">
				</div>
			</div>

			<!--END TITLE & BREADCRUMB PAGE-->


            <!--BEGIN CONTENT-->
            <div class="page-content">
         		<div id="tab-general">
					<div class="row">
						<div class="col-lg-12">
							<div class="portlet box">
								
								<div class="portlet-body">
									<form action="{:U('Admin/System/email_run')}" method="post" class="form-horizontal">
										<h3>邮箱配置</h3><hr>
										<div class="form-group">
											<label class="col-sm-3 control-label">主机地址</label>
											<div class="col-sm-9 controls">
												<div class="row">
													<div class="col-xs-6">
														<input type="text" name="mail_host" required value="{$item['MAIL_HOST']}" class="form-control"/>
														<div class="text-red">邮箱smtp服务器</div>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">发件箱地址</label>
											<div class="col-sm-9 controls">
												<div class="row">
													<div class="col-xs-6">
														<input type="text" name="mail_from"  value="{$item['MAIL_FROM']}" class="form-control"/>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group"><label class="col-sm-3 control-label">发件箱密码</label>
											<div class="col-sm-9 controls">
												<div class="row">
													<div class="col-xs-6">
														<input type="password" name="mail_password" required value="{$item['MAIL_PASSWORD']}" class="form-control"/>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group"><label class="col-sm-3 control-label">发件人昵称</label>
											<div class="col-sm-9 controls">
												<div class="row">
													<div class="col-xs-6">
														<input type="text" name="mail_fromname" required value="{$item['MAIL_FROMNAME']}" class="form-control"/>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">用户邮箱</label>
											<div class="col-sm-9 controls">
												<div class="row">
													<div class="col-xs-6">
														<input type="text" name="mail_username"  value="{$item['MAIL_USERNAME']}" class="form-control"/>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">是否开启SMTP认证</label>
											<div class="col-sm-9 controls">
												<div class="row">
													<div class="col-xs-6 line-34">
														<label >
															<input type="radio" value="true" name="mail_smtpauth" <if condition="$item['MAIL_SMTPAUTH'] == 'true'">checked="checked"</if> /> 开启
														</label>
														<label >
															<input type="radio" value="false" name="mail_smtpauth" <if condition="$item['MAIL_SMTPAUTH'] == 'false'">checked="checked"</if>/> 关闭
														</label>
													</div>
												</div>
											</div>
										</div>

										
										<hr/>
										<div class="form-group">
											<div class="col-sm-6 col-sm-offset-3">
												<button type="submit" class="btn btn-green">确认操作</button>
											</div>
										</div>
									</form>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
	                	<!--END CONTENT-->


	                	<!--BEGIN FOOTER-->
			<include file="Common/footer"/>
	               	<!--END FOOTER-->
        </div>
        <!--END PAGE WRAPPER-->
	</div>
</div>

	
	<script>
		$(function(){
			$('#side-menu>li').removeClass('active');
			$('#admin-system').addClass('active');


		});
	</script>

</body>
</html>
