<include file="User@Common/header"/>
</head>
<body>
	<include file="User@Common/nav"/>



	<div id="about">
		<div class="container">
			<div class="row">
				<!--sidebar START-->
				<include file="User@Common/sidebar"/>
				<!--sidebar END-->

				<div class="col-sm-9 col-md-9 about">
					<include file="User@Person/nav"/>

					<table class="table table-striped table-hover " id="user-content-table">
						<tbody>
						<if condition="!empty($user['last_ip']) &&$user['last_ip'] neq $user['login_ip']">
							<tr>
								<td colspan="2"><b class="text-danger">您本次的登录IP与上一次不一致</b></td>
							</tr>
						</if>
						<tr>
							<td>用户昵称</td>
							<td>{$user['nickname']}</td>
						</tr>
						<tr>
							<td>电子邮箱</td>
							<td>{:empty($user['user_email']) ? '未知' : $user['user_email']}</td>
						</tr>
						<tr>
							<td>用户类型</td>
							<td>
								{:$user['user_type'] == 1 ? '用户':'管理员'}
							</td>
						</tr>
						<tr>
							<td>性别</td>
							<td>
								<switch name="user['sex']">
									<case value="1">男</case>
									<case value="2">女</case>
									<default />保密
								</switch>
							</td>
						</tr>
						<tr>
							<td>所在国家</td>
							<td>
								{:empty($user['country']) ? '未知' : $user['country']}
							</td>
						</tr>
						<tr>
							<td>所在省</td>
							<td>
								{:empty($user['province']) ? '未知' : $user['province']}
							</td>
						</tr>
						<tr>
							<td>所在城市</td>
							<td>
								{:empty($user['city']) ? '未知' : $user['city']}
							</td>
						</tr>
						<tr>
							<td>详细地址</td>
							<td>
								{:empty($user['address']) ? '未知' : $user['address']}
							</td>
						</tr>


						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>










	<include file="User@Common/footer"/>
	<script>
		
	</script>
</body>
</html>