<include file="Home@Common/header"/>
</head>
<body>
	<include file="Home@Common/nav"/>



	<div class="jumbotron">
		<div class="container">
			<hgroup>
				<h1>那些年走过的坑</h1>
				<h4>Airblog是一款基于Bootstrap&Tp的免费博客系统...</h4>
				<h5>
					<a class="btn btn-warning" href="http://wpa.qq.com/msgrd?v=3&uin=980062449&site=qq&menu=yes" target="_blank" title="技术支持">
						<i class="fa fa-qq"></i>
						<span class="text-error" title="QQ">阿尔维奇</span>
					</a>
					<a class="btn btn-success" href="https://github.com/airvip" target="_blank">
						<i class="fa fa-github-alt"></i>
						<span class="text-error" title="github">阿尔维奇</span>
					</a>
				</h5>
			</hgroup>
		</div>
	</div>


	<div id="information">
		<div class="container">
			<div class="row">
				<div class="col-md-8 info-left">
					<div >
						<if condition="!empty($err_mess)">
							<div class="row info-content">
								<h3 class="text-success text-center" style="color: #c90;">{$err_mess}</h3>
							</div>
						</if>
						<volist name="list" id="vo">
							<div class="row info-content">
								<a href="{:U('Home/Blog/index',array('id'=>$vo['id']))}">
									<div class="col-md-5 col-sm-5 col-xs-5">
										<if condition="!empty($vo['thumb']) && file_exists($vo['thumb'])">
											<img class="img-responsive img-thumbnail"  src="__ROOT__/{$vo['thumb']}">
										<else/>
											<img class="img-responsive img-thumbnail"  src="__PUBLIC__/img/no-pic.png">
										</if>
									</div>
									<div class="col-md-7 col-sm-7 col-xs-7">
										<h4>{$vo['title']}</h4>
										<p class="hidden-xs">{$vo['blog_info']}</p>
										<p>
											<span class="fa fa-clock-o"></span>
											{:$vo['create_time'] == $vo['edit_time'] ? date('d/M/Y',$vo['create_time']).'发布' : date('d/M/Y',$vo['edit_time']).'修改'}&nbsp;
											<span class="glyphicon glyphicon-eye-open"></span>
											{$vo['view_count']} &nbsp;
											<if condition="$vo['recommend'] eq 1">
												<span class="glyphicon glyphicon-fire"></span>
												推荐
											</if>
										</p>
									</div>
								</a>
							</div>
						</volist>

						{$page}
					</div>
				</div>
				<div class="col-md-4 info-right hidden-xs hidden-sm">
					<include file="Home@Common/sidebar"/>
				</div>
			</div>
		</div>
	</div>










	<include file="Home@Common/footer"/>
	<script>
		
	</script>
</body>
</html>