<include file="Home@Common/header"/>
</head>
<body>
	<include file="Home@Common/nav"/>


	<div class="jumbotron">
		<div class="container">
			<hgroup>
				<h1>那些年走过的旅程</h1>
				<h4>每一步的成长源于大家最初的知识积累...</h4>
			</hgroup>
		</div>
	</div>






	<div id="case">
		<div class="container">
			<div class="row">
				<volist name="list" id="vo">
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col">
						<div class="thumbnail">

							<if condition="!empty($vo['thumb']) && file_exists($vo['thumb'])">
								<img  src="__ROOT__/{$vo['thumb']}">
							<else/>
								<img  src="__PUBLIC__/img/no-pic.png">
							</if>
							<div class="caption">
								<h4>{:empty($vo['name']) ? '保密内容' : $vo['name']}</h4>
								<p>{:empty($vo['info']) ? '保密内容' : $vo['info']}</p>
							</div>
						</div>
					</div>
				</volist>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{$page}</div>
			</div>
		</div>
	</div>


	










	<include file="Home@Common/footer"/>

</body>
</html>