.user-table div.content-hidden{
  overflow: hidden;
  width: 200px;
  word-break: keep-all;
  white-space:nowrap;
}
#use-show-information tr>td:nth-child(1){
  text-align: right !important;
  width: 35%;
}
#user-edit-information div.controls div.info-radio{
  padding-top: 5px;
}
#user-edit-information div.controls div.info-checkbox{
  padding-top: 5px;
}
#user-edit-information div.controls div.info-checkbox>label{
  border:1px solid #CCC;
  padding:3px 6px;
  margin-right: 10px;
}


.table-input-order{
  width:40px;
  box-shadow: none !important;
  border-color: #e5e5e5;
  border-radius: 0 !important;
  font-size: 14px;
  background-color: #fff;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  padding: 2px 5px;
  border: 1px solid #ccc;
  height: 22px;
}
/*
#page{height: 50px;text-align: center;}
#page span{margin-right:5px;display: inline-block;font-size: 18px;font-weight: bolder;border: 1px solid #999999;color:#999999;width: 30px;height: 30px;text-align: center;}
#page span.rows{margin-right:5px;display: inline-block;font-size: 18px;font-weight: bolder;border: 1px solid #999999;color:#999999;width: 120px;height: 30px;text-align: center;}
#page span.current{margin-right:5px;display: inline-block;font-size: 18px;font-weight: bolder;border: 1px solid #336600;color:#336600;width: 30px;height: 30px;text-align: center;}
#page a{margin-right:5px;display: inline-block;font-size: 18px;font-weight: bolder;border: 1px solid #999999;color:#999999;width: 30px;height: 30px;text-align: center;}
#page a.first{margin-right:5px;display: inline-block;font-size: 18px;font-weight: bolder;border: 1px solid #999999;color:#999999;width: 50px;height: 30px;}
#page a.prev{margin-right:5px;display: inline-block;font-size: 18px;font-weight: bolder;border: 1px solid #999999;color:#999999;width: 70px;height: 30px;}
#page a.next{margin-right:5px;display: inline-block;font-size: 18px;font-weight: bolder;border: 1px solid #999999;color:#999999;width: 70px;height: 30px;}
#page a.end{margin-right:5px;display: inline-block;font-size: 18px;font-weight: bolder;border: 1px solid #999999;color:#999999;width: 50px;height: 30px;}
*/