<include file="Common/header"/>
<div>

	<include file="Common/topbar"/>


	<div id="wrapper">
		<!--BEGIN SIDEBAR MENU-->
		<include file="Common/sidebar"/>
		<!--END SIDEBAR MENU-->
          
        <!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper">

			<!--BEGIN TITLE & BREADCRUMB PAGE-->

			<div class="page-title-breadcrumb option-demo">
				<div class="page-header pull-right">
					<div class="page-toolbar">

						<a type="button" href="{:U('User/index',array('user_type'=>1))}" title="" class="btn btn-success" >
							会员管理
						</a>
						&nbsp;
						<a type="button" href="{:U('User/index',array('user_type'=>0))}" title="" class="btn btn-success" >
							管理员管理
						</a>
					</div>
				</div>
				<ol class="breadcrumb page-breadcrumb pull-left">					
					<li>
						<a href="{:U('Admin/User/index')}">用户管理</a>/
					</li>
					<li>会员列表 </li>
				</ol>
				<div class="clearfix">
				</div>
			</div>

			<!--END TITLE & BREADCRUMB PAGE-->


            <!--BEGIN CONTENT-->
            <div class="page-content">
         		<div id="tab-general">
					<div class="row">
						<div class="col-lg-12">
							<div class="portlet box">
								<div class="panel-heading">
								
									<form class="navbar-form navbar-right" action="{:U('User/search')}" method="post" role="search" >
                                        <div class="form-group">
                                        	<input type="text" name="search" class="form-control" placeholder="会员ID或昵称">
										</div>
                                        <button class="btn btn-green" type="submit">
											<i class="fa fa-search"></i>
										</button>
                                    </form>
									<div class="clearfix"></div>
								
								</div>
								<div class="portlet-body">
									<table class="table table-hover table-striped user-table">
										<thead>
											<tr>
												<th>#</th>
												<th>会员头像</th>
												<th>会员昵称</th>
												<th>会员类型</th>
												<th>电子邮箱</th>
												<th>是否禁用</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
											
											<volist name="list" id="vo">
												<tr>
													<td attr="{$vo['id']}">{$key+1}</td>
													<td>
														<if condition="!empty($vo['avatar']) || file_exists($vo['avatar'])">
															<img class="img-responsive img-circle" width="20" src="__ROOT__/Uploads/{$vo['avatar']}">
														<else/>
															<img class="img-responsive img-circle" width="20" src="__PUBLIC__/img/default_avatar.jpg">
														</if>
													</td>
													<td>{:empty($vo['nickname']) ? '未知': $vo['nickname'] }</td>
													<td>
														{:$vo[user_type] == 1 ? '用户':'管理员'}
													</td>
													<td>
														{:empty($vo['user_email']) ? '未知' : $vo['user_email'] }
													</td>
													<td>
														<if condition="$vo[user_status] eq 1">
															正常
															<a class="btn btn-warning btn-xs" >
																<i class="fa fa-frown-o user-free"  user_id="{$vo['id']}" user_status="0" title="点击禁用"></i>
															</a>
														<else/>
															已禁用
															<a class="btn btn-success btn-xs" >
																<i class="fa fa-smile-o user-free" user_id="{$vo['id']}" user_status="1" title="点击恢复"></i>
															</a>
														</if>
													</td>
													<td id="user-fa">
														<a class="btn btn-pink btn-xs">
															<i class="fa fa-key user-pass " user_id="{$vo['id']}" title="初始化密码"></i>
														</a>
														<a class="btn btn-primary btn-xs" href="{:U('Admin/User/see',array('user_id'=>$vo['id']))}">
															<i class="fa  fa-eye" title="查看详情"></i>
														</a>
														<a class="btn btn-warning btn-xs" href="{:U('Admin/User/edit',array('user_id'=>$vo['id']))}">
															<i class="fa fa-pencil-square-o" title="编辑"></i>
														</a> 
														<a class="btn btn-danger btn-xs" href="{:U('User/delete',array('user_id'=>$vo['id']))}">
															<i class="fa fa-trash-o" attr="{$vo[u_id]}" title="删除"></i>
														</a> 
													</td>
												</tr>
											</volist>
										</tbody>
									</table>
								</div>
								<div class="panel-heading">
									<div id="page">
										{$page}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	                	<!--END CONTENT-->


	                	<!--BEGIN FOOTER-->
			<include file="Common/footer"/>
	               	<!--END FOOTER-->
        </div>
        <!--END PAGE WRAPPER-->
	</div>
</div>


	<script>
		$(function(){
			//改变侧边栏选中状态
			$('#side-menu>li').removeClass('active');
			$('#admin-user').addClass('active');

			//用该用户禁用状态
			$('.user-free').click(function(){
				var id		= $(this).attr('user_id');
				var user_status	= $(this).attr('user_status');
				$.ajax({
					type:'post',
					url:'{:U("Admin/User/free")}',
					//data:'u_state='+id,
					data:{
						'id'			: id,
						'user_status'	: user_status,
					},
					dataType:"json",
					success:function(data){
						if(1 == data.code){
							alert(data.mess);self.location='{:U("Admin/User/index",array("user_type"=>1))}';return;
						}else{
							alert(data.mess);return;
						}
					},
				});
			});

			//初始化用户密码为123456
			$(".user-pass").click(function(){
				var rs		    = confirm('你确定把密码初始化为123456吗?');
				var user_id 	= $(this).attr('user_id');
				//console.log(rs);
				if( false == rs)return;
				$.ajax({
					type:'post',
					url:'{:U("Admin/User/user_pass")}',
					data:{
						'user_id':user_id,
					},
					dataType:"json",
					success:function(data){
						if(1 == data.code){
							alert(data.mess);return;
						}else{
							alert(data.mess);return;
						}
					},
				});
			});



		});
	</script>

</body>
</html>
