<include file="Common/header"/>
<div>

	<include file="Common/topbar"/>


	<div id="wrapper">
		<!--BEGIN SIDEBAR MENU-->
		<include file="Common/sidebar"/>
		<!--END SIDEBAR MENU-->
          
        <!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper">

			<!--BEGIN TITLE & BREADCRUMB PAGE-->

			<div class="page-title-breadcrumb option-demo">

				<div class="page-header pull-right">
					<div class="page-toolbar">

						<a type="button" href="{:U('User/index',array('user_type'=>1))}" title="" class="btn btn-success" >
							会员管理
						</a>
						<a type="button" href="{:U('User/index',array('user_type'=>0))}" title="" class="btn btn-success" >
							管理员管理
						</a>
					</div>
				</div>
				<ol class="breadcrumb page-breadcrumb pull-left">
					<li>
						<a href="{:U('Admin/User/index')}">用户管理</a>/
					</li>
					<li>详细信息 </li>
				</ol>
				<div class="clearfix">
				</div>
			</div>

			<!--END TITLE & BREADCRUMB PAGE-->


            <!--BEGIN CONTENT-->
            <div class="page-content">
         		<div id="tab-general">
					<div class="row">
						<div class="col-lg-12">
							<div class="portlet box">
								<div class="portlet-body">
								
									<div class="form-group">
										<div class="text-center profile-img">
											<if condition="!empty($vo['avatar']) && file_exists($vo['avatar'])">
												<img class="img-responsive img-circle center-block" width="100" src="__ROOT__/Uploads/{$user['avatar']}">
											<else/>
												<img class="img-responsive img-circle center-block" width="100" src="__PUBLIC__/img/default_avatar.jpg">
											</if>
										</div> 
									</div>
									<table class="table table-striped table-hover" id="use-show-information">
										<tbody>
											<tr>
												<td>用户昵称</td>
												<td>{$user['nickname']}</td>
											</tr>
											<tr>
												<td>电子邮箱</td>
												<td>{:empty($user['user_email']) ? '未知' : $user['user_email']}</td>
											</tr>
											<tr>
												<td>用户状态</td>
												<td>
													{:$user['user_status'] == 1 ? '正常':'冻结'}
												</td>
											</tr>
											<tr>
												<td>用户类型</td>
												<td>
													{:$user['user_type'] == 1 ? '用户':'管理员'}
												</td>
											</tr>
											<tr>
												<td>性别</td>
												<td>
													<switch name="user['sex']">
													    <case value="1">男</case>
													    <case value="2">女</case>
													    <default />保密
													</switch>
												</td>
											</tr>
											<tr>
												<td>所在国家</td>
												<td>
													{:empty($user['country']) ? '未知' : $user['country']}
												</td>
											</tr>
											<tr>
												<td>所在省</td>
												<td>
													{:empty($user['province']) ? '未知' : $user['province']}
												</td>
											</tr>
											<tr>
												<td>所在城市</td>
												<td>
													{:empty($user['city']) ? '未知' : $user['city']}
												</td>
											</tr>
											<tr>
												<td>详细地址</td>
												<td>
													{:empty($user['address']) ? '未知' : $user['address']}
												</td>
											</tr>
											<tr>
												<td>上次登录时间</td>
												<td>
													{:empty($user['last_time']) ? '未知' : date('Y-m-d H:i:s',$user['last_time'])}
												</td>
											</tr>
											<tr>
												<td>上次登录IP</td>
												<td>
													{:empty($user['last_ip']) ? '未知' : long2ip($user['last_ip'])}
												</td>
											</tr>
											<tr>
												<td>本次登录时间</td>
												<td>
													{:empty($user['login_time']) ? '未知' : date('Y-m-d H:i:s',$user['login_time'])}
												</td>
											</tr>
											<tr>
												<td>本次登录IP</td>
												<td>
													{:empty($user['login_ip']) ? '未知' : long2ip($user['login_ip'])}
												</td>
											</tr>
											<tr>
												<td>创建时间</td>
												<td>
													{:empty($user['create_time']) ? '未知' : date('Y-m-d H:i:s',$user['create_time'])}
												</td>
											</tr>
											
										</tbody>
									</table>
	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	                	<!--END CONTENT-->


	                	<!--BEGIN FOOTER-->
			<include file="Common/footer"/>
	               	<!--END FOOTER-->
        </div>
        <!--END PAGE WRAPPER-->
	</div>
</div>


	
	<script>
		$(function(){
			$('#side-menu>li').removeClass('active');
			$('#admin-user').addClass('active');
		});
	</script>

</body>
</html>
