<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="__PUBLIC__/img/ico_48.ico">
	<meta name="keywords" content="{$Think.config.KEY_WORD}" />
	<meta name="description" content="{$Think.config.DESCRIPTION}"/>
	<title>{$Think.config.WEB_NAME}</title>

	<!--[if lt IE 9]>
	<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<link type="text/css" rel="stylesheet" href="__ADMIN_PUBLIC__/styles/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="__ADMIN_PUBLIC__/styles/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="__ADMIN_PUBLIC__/styles/main.css">
	<link type="text/css" rel="stylesheet" href="__ADMIN_PUBLIC__/styles/airadmin.css">

</head>
<body>