<include file="User@Common/header"/>
</head>
<body>
	<include file="User@Common/nav"/>

	<div id="about">
		<div class="container">
			<div class="row">
				<!--sidebar START-->
				<include file="User@Common/sidebar"/>
				<!--sidebar END-->
				<div class="col-md-9 col-sm-9 about">

					<h3 class="">
						<div class="btn-group" role="group" >
							<a class="btn btn-sm btn-default" href="{:U('User/Person/index')}">我的资料</a>
							<a class="btn btn-sm btn-default" href="{:U('User/Person/edit')}">修改资料</a>
							<a class="btn btn-sm btn-default" href="{:U('User/Person/avatar')}">更换头像</a>
						</div>
					</h3>

				</div>
			</div>
		</div>
	</div>










	<include file="User@Common/footer"/>
	<script>
		
	</script>
</body>
</html>