	<!--footer Start-->
	<footer id="footer" class="text-muted">
		<div class="container">
			<p>
				<volist name="list_link" id="vo">
					<if condition="$key neq 0">|</if><a href="{$vo['link_url']}">{$vo['name']}</a>
				</volist>
			</p>
			<p>
				{:C('COPY')} Powered by Bootstrap & Thinkphp.
				<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258812921'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1258812921%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
				<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1258812921).'" width="0" height="0"/>';?>
				<a href="http://webscan.360.cn/index/checkwebsite/url/dear521.com"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/dc36258533e56a6a6b72e56de3898197/?size=74x27"/></a>
			</p>
		</div>
	</footer>
	

	
	<script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/pluge/sweet-alert/sweet-alert.min.js"></script>
	<script src="__PUBLIC__/js/jsfunction.js"></script>
	<!--footer End-->


