<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="__PUBLIC__/img/ico_48.ico">
	<meta name="keywords" content="个人博客，技术博客，内涵段子，告白墙，百度云下载，资源下载，bt下载，360云下载" />
	<meta name="description" content="阿尔维奇的技术博客，搞笑图片，内涵段子，云资源下载，告白墙，恋爱告白，php,phper,技术交流，资源提供,bt下载,爱分享，爱编程，php难题解决,php技术分享,软件共享,云视频下载"/>
	<title>Bootstrap</title>

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">

	<!--[if lt IE 9]>
	<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
