body{background-color: #EEEEEE;}
.top{background: #008ead;}

.pos-relative{position: relative;}
.form-display{
	background-color: #FFFFFF;
	position: absolute;
	border-radius: 5px;
	padding: 20px;
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
	.form-display{
		width: 400px;
	}
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
	.form-display{
		width: 400px;
	}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
	.form-display{
		width: 400px;
	}
}